*, *:before, *:after {
  box-sizing: border-box;
}

article {
  padding: 0em 0;
  line-height: 1.4em;
  background-color: #E8E8E8;
}

.timeline {
  padding-bottom: 3em;
}
.timeline h4 {
  width: 100%;
  margin: 0;
  padding: 0.8em 0;
  font-size: 1.15em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.timeline-carousel {
  padding: 1.6em 0 0;
  background-color: white;
  border-top: 5px solid #2BB591;
  border-bottom: 5px solid #2BB591;
}

.owl-item {
  height: 100%;
  position: relative;
}

.owl-item__inner {
  padding: 0 0.9375em;
  height: 420px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.date-wrap {
  float: left;
  height: 100%;
  width: 30%;
  font-size: 14px;
  text-align: center;
}
.date-wrap .date {
  display: inline-block;
  height: 1.4em;
  width: 1.6em;
  padding: 1em;
  background-color: #fff;
  border: 3px solid #2BB591;
  border-radius: 70%;
  color: #2374B9;
  font-size: 2.7em;
  letter-spacing: -1.4px;
  text-indent: -1.01em;
  line-height: 0;
}
.date-wrap .date:after {
  content: '';
  position: absolute;
  top: 2.1em;
  bottom: 0;
  left: 18%;
  z-index: 0;
  border-left: 3px solid #2BB591;
}

.text-wrap {
  float: left;
  width: 70%;
  padding: 1.9em 0.9em 5em;
}
.text-wrap ul {
  margin: 0;
  padding: 0;
}
.text-wrap li {
  list-style-type: none;
}

/*------------------------------------*\
    ::  Owl Specific Styles
\*------------------------------------*/
.owl-buttons {
  width: 100%;
  position: absolute;
  top: -2.35em;
  overflow: hidden;
}
.owl-buttons .owl-prev, .owl-buttons .owl-next {
  width: 0;
  height: 0;
}
.owl-buttons .owl-prev {
  float: left;
  margin-left: 38%;
  text-indent: 9999px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 11px solid #2273BA;
}
@media (max-width: 1024px) {
  .owl-buttons .owl-prev {
    margin-left: 20%;
  }
}
@media (max-width: 850px) {
  .owl-buttons .owl-prev {
    margin-left: 20%;
  }
}
@media (max-width: 640px) {
  .owl-buttons .owl-prev {
    margin-left: 20%;
  }
}
@media (max-width: 500px) {
  .owl-buttons .owl-prev {
    margin-left: 15%;
  }
}
@media (max-width: 400px) {
  .owl-buttons .owl-prev {
    margin-left: 10%;
  }
}
.owl-buttons .owl-next {
  float: right;
  margin-right: 38%;
  text-indent: -9999px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 11px solid #2273BA;
}
@media (max-width: 1024px) {
  .owl-buttons .owl-next {
    margin-right: 35%;
  }
}
@media (max-width: 850px) {
  .owl-buttons .owl-next {
    margin-right: 30%;
  }
}
@media (max-width: 640px) {
  .owl-buttons .owl-next {
    margin-right: 25%;
  }
}
@media (max-width: 500px) {
  .owl-buttons .owl-next {
    margin-right: 15%;
  }
}
@media (max-width: 400px) {
  .owl-buttons .owl-next {
    margin-right: 10%;
  }
}

.owl-pagination {
  width: 100%;
  position: absolute;
  bottom: -2.7em;
  text-align: center;
}
@media (max-width: 640px) {
  .owl-pagination {
    display: none;
  }
}
.owl-pagination .owl-page {
  display: inline-block;
  margin: 0 10px;
}
.owl-pagination .owl-page span {
  display: block;
  height: 0.95em;
  width: 0.95em;
  box-shadow: inset 0px 0px 0px 2px #2BB591;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 300ms;
}
.owl-pagination .owl-page:hover span, .owl-pagination .owl-page.active span {
  background-color: #2BB591;
}
